<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Product [Chrome]" >
        <!--configure test to execute testing script using Chrome browser-->
        <parameter name="selenium.browser" value="chrome"/>
        <classes>
            <class name="myprojects.automation.assignment.tests.LoginTest" />
            <class name="myprojects.automation.assignment.tests.CheckMainMenuTest" />
            <class name="myprojects.automation.assignment.tests.CreateCategoryTest" />
            <class name="myprojects.automation.assignment.tests.CreateProductTest" />
        </classes>
    </test>
    <!--Prepare test for firefox and IE browsers-->
    <test name="Create New Product [FireFox]" >
        <!--configure test to execute testing script using FireFox browser-->
        <parameter name="selenium.browser" value="firefox"/>
        <classes>
            <class name="myprojects.automation.assignment.tests.CreateProductTest" />
        </classes>
    </test>

    <test name="Create New Product [IE]" >
        <!--configure test to execute testing script using IE browser-->
        <parameter name="selenium.browser" value="internet explorer"/>
        <classes>
            <class name="myprojects.automation.assignment.tests.CreateProductTest" />
        </classes>
    </test>

</suite>